
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://image.shutterstock.com/image-vector/hamburger-cartoon-vector-illustration-isolated-260nw-257426938.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{burger_name}}</h5>
    <a href="/api/burgers/{{id}}" class="btn btn-primary">Eat this burger!</a>
  </div>
</div>